.topBar {
    margin-top: 0px
}

.topBtns {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px
 

}

#getRobuxButtonfuny {
    width: 100px;
    height: 30px
}

body {
    background-color: black;
  }
  
  h1,p,a {
    color: white;
    font-family: "Segoe UI";
  }